<!-- <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul> -->
<div class="navcontainer">
  <nav class="nav flex-column" *ngFor="let user of usersList" >
    <button class="nav-link active" (click)="chosenUser(user)">{{user.name}}</button>
    <!-- <a class="nav-link" href="#">Link</a> -->
    <!-- <a class="nav-link" href="#">Link</a> -->
    <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
  </nav>
</div>